.navbar_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(36, 35, 35);
  color: #fff;
  font-size: 0.7rem;
}
.navbar_section > p:hover {
  color: rgb(66, 189, 82);
  cursor: pointer;
  transition: 0.4s;
}
.badge{
  position: relative;
  top: -10px;
  left: 10px;
}
.cart_icon{
  position: absolute;
}